@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: "Spartan", sans-serif;
}

.showcase {
  color: var(--color-grey);
  background-color: var(--color-dark);
  height: 80vh;
}

.showcase-text h1 {
  font-size: 4rem;
}

.showcase-text h3 {
  font-style: italic;
  font-weight: 300;
}

/* ONLY SHOW ON TABLET SIZE AND LARGER */
.showcase .social-media {
  display: none;
}

/* PROJECTS AREA */

.my-work .project img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  filter: brightness(75%);
}

.project {
  position: relative;
}

/* Overlay For Project Images */
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-orange-primary);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s;
}

.project:hover .project-overlay {
  width: 100%;
}

.project-text {
  height: 100%;
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAB-WORK AREA */

.lab-work .lab-item {
  background-color: var(--color-blue-primary);
  height: 350px;
  position: relative;
}

.lab-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-orange-primary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s;
  opacity: 0.9;
}

.lab-item:hover .lab-overlay {
  height: 100%;
}

.lab-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);
}

/* Footer Area */

.footer {
  padding: 40px 0;
  background-color: var(--color-dark);
}

.footer img {
  width: 30%;
}

.footer nav ul {
  display: flex;
  margin-top: 15px;
}

.footer nav ul li a {
  padding: 5px 10px;
  color: var(--color-grey);
}

.footer nav ul li a:hover {
  color: var(--color-orange-primary);
  border-bottom: 2px solid var(--color-blue-primary);
}

.footer p {
  margin-top: 10px;
  color: var(--color-grey);
  font-size: 0.8rem;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5% auto;
  width: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: modal-open;
  animation-duration: 1s;
}

.modal .content-left,
.modal .content-right {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.modal .content-left {
  height: 100%;
  animation-name: slide-from-left;
  animation-duration: 1s;
}

.modal .content-left p {
  margin-top: 10px;
}

.modal .content-left .social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.modal .content-left .social-media i {
  font-size: 2rem;
  color: var(--color-blue-primary);
}

.modal .content-left .social-media a:hover {
  color: var(--color-orange-primary);
}

.modal .content-right {
  background-color: var(--color-dark);
  animation-name: slide-from-top;
  animation-duration: 1s;
}

.modal .content-right form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal .content-right form label,
.modal .content-right h3 {
  color: var(--color-grey);
  margin: 10px 0;
}

.modal .content-right form input[type="text"],
.modal .content-right form input[type="email"],
.modal .content-right form textarea {
  padding: 10px 0;
  color: var(--color-grey);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-grey);
}

.close-modal-btn {
  position: relative;
  top: 0;
  color: var(--color-blue-primary);
  font-size: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.close-modal-btn:hover {
  color: var(--color-orange-primary);
}

/* TABLET SIZE MEDIA QUERY */

@media (min-width: 769px) {
  body {
    background-color: red;
  }

  .showcase-text h1 {
    font-size: 6rem;
  }

  .showcase-text h3 {
    font-size: 1.75rem;
  }

  .showcase .social-media {
  }

  .my-work .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .lab-work .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP SIZE MEDIA QUERY */

@media (min-width: 1200px) {
  body {
    background-color: blue;
  }

  .lab-work .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer img {
    width: 10%;
  }
}
