@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  line-height: 1.4;
  font-family: "Spartan", sans-serif;
}

.showcase {
  color: var(--color-grey);
  background-color: var(--color--dark-light);
  height: 80vh;
}

.showcase-text h1 {
  font-size: 4rem;
}

.showcase-text h3 {
  font-style: italic;
  font-weight: 300;
}

/* ONLY SHOW ON TABLET SIZE AND LARGER */
.showcase .social-media {
  display: none;
}

/* PROJECTS AREA */

.my-work .project img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  filter: brightness(75%);
}

.project {
  position: relative;
}

/* Overlay For Project Images */
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-bright);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s;
}

.project:hover .project-overlay {
  width: 100%;
}

.project-text {
  height: 100%;
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAB-WORK AREA */

.lab-work .lab-item {
  background-color: var(--color-bright-dark);
  height: 350px;
  position: relative;
}

.lab-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-bright);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s;
  opacity: 0.9;
}

.lab-item:hover .lab-overlay {
  height: 100%;
}

.lab-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);
}

/* Footer Area */

.footer {
  padding: 40px 0;
  background-color: var(--color--dark-light);
}

.footer img {
  width: 30%;
}

.footer nav ul {
  display: flex;
  margin-top: 15px;
}

.footer nav ul li a {
  padding: 5px 10px;
  color: var(--color-grey);
}

.footer nav ul li a:hover {
  color: var(--color-bright);
  border-bottom: 2px solid var(--color-bright-dark);
}

.footer p {
  margin-top: 10px;
  color: var(--color-grey);
  font-size: 0.8rem;
}
