/* Color Variables */

:root {
  --color-dark: #1c1d25;
  --color-grey: #c5c6c7;
  --color-orange-primary: #f05643;
  --color-blue-primary: #45a29e;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.section-spacing {
  padding: 70px 0;
}

.btn-primary {
  background-color: var(--color-orange-primary);
  padding: 15px 20px;
  font-weight: 900;
  color: var(--color-grey);
  outline: none;
  margin-top: 15px;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary:hover {
  box-shadow: inset 160px 0 0 0 var(--color-blue-primary);
}

.btn-outline {
  border: 1px solid var(--color-grey);
  padding: 15px 20px;
  margin-top: 15px;
  color: var(--color-grey);
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.btn-outline:hover {
  box-shadow: inset 200px 0 0 0 var(--color-grey);
  color: var(--color-orange-primary);
}
